.Skills {
  position: fixed;
  display: flex;
  width: 700px;
  height: 450px;
  margin-left: -35px;
  margin-top: 160px;
  border-left: solid gray 1px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: all 2s ease-in-out;
  animation: fadeOutSkills 2s ease-in forwards;
}
@keyframes fadeOutSkills {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.containerSkills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-left: 50px;
  font-size: 20px;
  font-family: "Josefin Slab", monospace;
  color: white;
}

.skillsText {
  font-size: 35px;
}
.atAge {
  margin-top: 20px;
}
.bootcamp {
  margin-top: 20px;
}
.participated {
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 60px;
}
.logos {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  height: 50px;
}
.logo:hover {
  scale: 0.95;
}

.transformSkills {
  margin-top: 160px;
  margin-left: -35px;
  scale: 1.5;
  animation: fadeInSkills 1s ease-in forwards;
}

@keyframes fadeInSkills {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 800px) {
  .Skills {
    scale: 0.7;
    height: 500px;
    width: 420px;
    margin-top: 10px;
    margin-left: -30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .skillsText {
    font-size: 30px;
  }
  .atAge {
    margin-top: 20px;
  }
  .bootcamp {
    margin-top: 20px;
  }
  .participated {
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 60px;
  }
  .logos {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    height: 50px;
  }
}
