* {
  margin: 0;
}

.hidden {
  animation: fadeOutHeader 1s ease-in forwards;
}
@keyframes fadeInHeader {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.show {
  animation: fadeInHeader 1s ease-in forwards;
}

@keyframes fadeOutHeader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.scroll {
  color: white;
}
.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid gray 1px;
  box-shadow: 0 0.5px gray;
}

.headerLeft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px 20px;
}
.headerRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
  gap: 10px 20px;
}

.HeaderProfImg {
  opacity: 80%;
  height: 50px;
  border-radius: 25px;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  transition: all 0.1s ease-in-out;
}
.HeaderProfImg:hover {
  opacity: 100%;
  scale: 0.95;
}

#bio {
  text-decoration: none;
  font-size: 20px;
  font-family: "Josefin Slab", monospace;
  color: white;
}

.headerLinks {
  text-decoration: none;
  font-size: 20px;
  font-family: "Josefin Slab", monospace;
  color: white;
}


.headerLinks:hover {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  font-family: "Josefin Slab", monospace;
  color: white;
  scale: 0.95;
}

#ContactId {
  text-decoration: none;
  font-size: 20px;
  font-family: "Josefin Slab", monospace;
  color: white;
}

@media screen and (max-width: 800px) {
  .Header {
    scale: 0.85;
    gap: 10px 20px;
    transition: all 1s ease-in-out;
  }
  .headerLeft {
    margin-left: 15px;
  }
}
