.Bio {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 700px;
  height: 450px;
  margin-left: -400px;
  margin-top: 160px;
  border-left: solid gray 1px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: all 2s ease-in-out;
  animation: fadeOutBio 2s ease-in forwards;
}
@keyframes fadeOutBio {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;

  }
}

.containerBio {
  font-size: 20px;
  font-family: "Josefin Slab", monospace;
  color: white
}

#bio{
  font-size: 35px;
}


.transformBio {
  margin-top: 160px;
  margin-left: -400px;
  scale: 1.5;
  animation: fadeInBio 1s ease-in forwards;
}

@keyframes fadeInBio {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 800px) {
  .Bio {
    scale: 0.5;
    margin-top: 40px;
    margin-left: -337px; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}
