.ContactResume {
  position: fixed;
  width: 700px;
  height: 450px;
  margin-left: 80px;
  margin-top: 160px;
  border-left: solid gray 1px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: all 2s ease-in-out;
  animation: fadeOutContactResume 1.5s ease-in forwards;
}
@keyframes fadeOutContactResume {
  0% {
    opacity: 0;
    
  }
  100% {
    opacity: 1;
  }
}

.containerContactResume {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  font-family: "Josefin Slab", monospace;
  color: white;
  margin-top: 10px;
  margin-left: -60px;
}
#visiting {
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.interested {
  font-size: 20px;
  margin-bottom: 3px;
}
.interested1 {
  font-size: 20px;
}
.ContactText {
  margin-top: 20px;
  font-size: 20px;
}
.GitAndLinkedIn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
  
.linkedIn {
  margin-top: 10px;
  display: flex;
  scale: 0.6;
  transition: all 0.1s ease-in-out;
}
.linkedIn:hover {
 scale: 0.5;

}
.gitHub {
  margin-top: 10px;
  display: flex;
  height: 35px;
  transition: all 0.1s ease-in-out;
}

.gitHub:hover {
  scale: 0.9
}
.email {
  margin-top: 20px;
}
.canDownload {
  font-size: 24px;
  margin-top: 20px;
}
.download {
  font-size: 30px;
  font-family: "Josefin Slab", monospace;
  color: white;
  background-color: black;
  margin-top: 20px;
  border-top: 0;
  border-left: solid gray 1px;
  border-right: solid gray 1px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.download:hover {
  border-left: solid gray 2px;
  border-right: solid gray 2px;
  border-bottom: solid gray 2px;
  border-radius: 20px;
}
.transformContactResume {
  margin-top: 160px;
  margin-left: 80px;
  scale: 1.5;
  animation: fadeInContactResume 1.5s ease-in forwards;
}

@keyframes fadeInContactResume {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 800px) {
  .ContactResume {
    scale: 0.5;
    height: 650px;
    margin-top: -40px;
    margin-left: 26px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  #visiting {
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .interested {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 3px;
  }
  .interested1 {
    font-size: 25px;
  }
  .ContactText {
    margin-top: 40px;
    font-size: 30px;
  }
  .GitAndLinkedIn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
    
  .linkedIn {
    margin-top: 20px;
    display: flex;
    scale: 0.9;
    transition: all 0.1s ease-in-out;
  }
  
  .gitHub {
    margin-top: 20px;
    display: flex;
    height: 60px;
    transition: all 0.1s ease-in-out;
  }
  
  
  .email {
    margin-top: 20px;
    font-size: 30px;
  }
  .canDownload {
    font-size: 35px;
    margin-top: 50px;
  }
  .download {
    font-size: 35px;
    font-family: "Josefin Slab", monospace;
    color: white;
    background-color: black;
    margin-top: 40px;
    border-top: 0;
    border-left: solid gray 1px;
    border-right: solid gray 1px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
  }
}
